<div class="card profile-home p-4 white-text">
    {{!-- <div class="card-header" id="company-info">
        Company: {{user.company.company_name}}
    </div> --}}
    <div class="card-body student_edit-form">
        <label for="picture-edit">Upload Profile Picture</label>
        <div>

            <input id="uploadInput" type="file" name="FileUp" method="post" enctype="multipart/form-data" />
            <div>
                <button type="button" id="upBtn">Upload</button>
            </div>

        </div>
        <br>

        <form>
            <div class="form-group row">
                <label for="student_id-edit" class="col-sm-2 col-form-label">Student ID: </label>
                <div class="col-sm-10">
                    <p type="text" id="student_id-edit">
                        {{user.student.id}}</p>
                </div>

            </div>
            <div class="form-group row">
                <label for="first_last_name-display" class="col-sm-2 col-form-label">Name: </label>
                <div class="col-sm-10">
                    <p type="text" id="first_last_name-display">
                        {{user.first_name}} {{user.last_name}}</p>
                </div>

            </div>
            <div class="form-group row">
                <label for="teacher_id-edit" class="col-sm-2 col-form-label">Teacher ID: </label>
                <div class="col-sm-10">
                    <p type="text" id="teacher_id-edit">
                        {{user.student.teacher_id}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="room_number-edit" class="col-sm-2 col-form-label">Room Number:</label>
                <div class="col-sm-10">
                    <p type="text" id="room_number-edit">
                        {{user.student.room_number}}
                    </p>
                </div>
            </div>

            <div class="form-group row">
                <label for="student-birthday-edit" class="col-sm-2 col-form-label">Birthday:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="student-birthday-edit"
                        value="{{format_date user.student.birthday}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="gender-edit" class="col-sm-2 col-form-label">Gender:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="gender-edit" value="{{user.student.gender}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Vocal Part:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="vocal_part-edit"
                        value="{{user.student.vocal_part_name}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="vocal_style-edit" class="col-sm-2 col-form-label">Vocal Style:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="vocal_style-edit" value="{{user.student.vocal_style}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="grade_level-edit" class="col-sm-2 col-form-label">Grade Level:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="grade_level-edit" value="{{user.student.grade_level}}">
                    <br>


                    <button type="submit" class="btn btn-light">Save</button><br>
        </form>
    </div>

</div>

<br>


<script src="/javascript/upload.js"></script>
<script src="/javascript/editstudentprofile.js"></script>