<div class="card profile-home p-4 white-text">
    <div class="card-header" id="company-info">
        Company: {{user.company.company_name}}
    </div>
    <div class="card-body teacher_edit-form">
        <label for="picture-edit">Upload Profile Picture</label>
        <div>

            <input id="uploadInput" type="file" name="FileUp" method="post" enctype="multipart/form-data" />
            <div>
                <button type="button" id="upBtn">Upload</button>
            </div>

        </div>
        <br>

        <form>
            <div class="form-group hidden">
                <label for="teacher_id-edit">Teacher ID</label>
                <p id="teacher_id-edit">{{user.teacher.id}}</p>
            </div>
            <div class="form-group">
                <label for="first_last_name-display">Name</label>
                <p id="first_last_name-display">{{user.first_name}} {{user.last_name}}</p>
            </div>
            {{!-- <div class="form-group">
                <label for="username-edit">Username</label>
                <input type="text" class="form-control" id="username-edit" value="{{user.username}}">
            </div> --}}
            <div class="form-group">
                <label for="birthday-edit">Birthday</label>
                <input type="text" class="form-control" id="birthday-edit"
                    value="{{format_date user.teacher.birthday}}">
            </div>
            <div class="form-group">
                <label for="genre-edit">Coaching Genre</label>
                <input type="text" class="form-control" id="genre-edit" value="{{user.teacher.coaching_genre}}">
            </div>
            <div class="form-group">
                <label for="level-edit">Coaching Level</label>
                <input type="text" class="form-control" id="level-edit" value="{{user.teacher.coaching_level}}">
            </div>
            <button type="submit" class="btn btn-light">Save</button><br>
        </form>
    </div>

</div>

<br>


<script src="/javascript/upload.js"></script>
<script src="/javascript/editteacherprofile.js"></script>