<div class="profile-home p-4 white-text">
    <div class="form-group row">
        <label for="company-info" class="col-sm-2 col-form-label">Company: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="company-info"
                value="{{user.company.company_name}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="student-id" class="col-sm-2 col-form-label">Student ID: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="student-id"
                value="{{user.student.id}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="username"
                value="{{user.username}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="email" value="{{user.email}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">name: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="name"
                value="{{user.first_name}} {{user.last_name}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="teacher-id" class="col-sm-2 col-form-label">Teacher ID: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="teacher-id"
                value="{{user.student.teacher_id}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="room-number" class="col-sm-2 col-form-label">Room Number: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="room-number"
                value="{{user.student.room_number}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="birthday" class="col-sm-2 col-form-label">Birthday: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="birthday"
                value="{{format_date user.student.birthday}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="vocal-part" class="col-sm-2 col-form-label">vocal part </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="vocal-part"
                value="{{user.student.vocal_part_name}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="vocal-style" class="col-sm-2 col-form-label">vocal style: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="vocal-style"
                value="{{user.student.vocal_style}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="grade_level" class="col-sm-2 col-form-label">Grade level: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext white-text" id="grade_level"
                value="{{user.student.grade_level}}">
        </div>
    </div>
    
    <a class="btn btn-light" href="/studenthome/editstudentprofile">Edit Profile</a>
</div>



{{!-- <div class="card profile-home p-4 white-text">
    <div class="card-header" id="company-info">
        <label>
            <h5>Company: </h5>
        </label>
        <span>{{user.company.company_name}}</span>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group hidden">
                <label>Student ID: </label>
                <span>{{user.student.id}}</span>
            </div>

            <div class="form-group">
                <label for="first_last_name-display">
                    <h5>Username: </h5>
                </label>
                <span id="first_last_name-display">{{user.username}}</span>
            </div>

            <div class="form-group">
                <label for="first_last_name-display">
                    <h5>Name: </h5>
                </label>
                <span id="first_last_name-display">{{user.first_name}} {{user.last_name}}</span>
            </div>
            <div class="form-group">
                <label for="birthday-id">
                    <h5>Teache ID: </h5>
                </label>
                <span id="birthday-id">{{user.student.teacher_id}}</span>
            </div>
            <div class="form-group">
                <label for="birthday-id">
                    <h5>Birthday: </h5>
                </label>
                <span id="birthday-id">{{format_date user.student.birthday}}</span>
            </div>
            <div class="form-group">
                <label for="genre-display">
                    <h5>vocal part: </h5>
                </label>
                <span id="genre-display">{{user.student.vocal_part_name}}</span>
            </div>
            <div class="form-group">
                <label for="level-display">
                    <h5>vocal style: </h5>
                </label>
                <span id="level-display">{{user.student.vocal_style}}</span>
            </div>
            <div class="form-group">
                <label for="level-display">
                    <h5>grade_level: </h5>
                </label>
                <span id="level-display">{{user.student.grade_level}}</span>
            </div>
            <div class="form-group">
                <label for="level-display">
                    <h5>vocal style: </h5>
                </label>
                <span id="level-display">{{user.student.vocal_style}}</span>
            </div>
            <div class="form-group">
                <a class="btn btn-light" href="/studenthome/editstudentprofile">Edit Profile</a>
            </div>
        </form>
    </div>
</div>
<br> --}}