<div class="profile-home p-4">
   {{#if user.teacher.id}}
  <h1 class="white-text">
    Welcome back!
  </h1>
  <div class="row">
    <div class="col-3">
      <div class="card bg-primary" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-text"> {{user.first_name}} {{user.last_name}} </h4>
        </div>
        <img src="../images/JSparling.jpg" class="card-img-top" alt="Test image">
        {{!-- <div class="card-body">
          <h5 class="card-text">{{user.first_name}} {{user.last_name}} </h5>
        </div> --}}

        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-primary">
            <h5 id="teacher-id-detail">Teacher ID: {{user.teacher.id}}</h5>
          </li>
          <li class="list-group-item bg-primary">
            <h5>Genre: {{user.teacher.coaching_genre}}</h5>
          </li>
        </ul>
        <div class="card-body">
          <a class="card-link white-text btn btn-dark" href="/teacherhome/teacherprofile">View Profile</a>
          <a class="card-link white-text btn btn-dark" id="get-students" >View
            Class</a>
        </div>
      </div>
    </div>

  </div>
</div>




{{else}}
<div class="white-text">
  <h3>Please create your profile to get started!</h3>
  <a class="card-link btn btn-light" href="/teacherhome/createteacherprofile">Create My Profile</a>
</div>
{{/if}}