<div class="profile-home p-4">
  {{#if user.teacher.id}}

  <h1 class="white-text">
    Welcome back!
  </h1>
  <div class="row sm">
    <div class="col-md-4">
      <div class="card bg-primary text-light" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-text"> {{user.first_name}} {{user.last_name}} </h4>
        </div>
        {{#if user.teacher.profile_pic}}
        <img src="{{user.teacher.profile_pic}}" class="card-img-top" alt="profile picture">
        {{else}}
        <img src="../images/empty-profilepic.png" class="card-img-top" alt="profile picture">
        {{/if}}
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-primary">
            <h5 id="teacher-id-detail">Teacher ID: {{user.teacher.id}}</h5>
          </li>
          <li class="list-group-item bg-primary">
            <h5>Genre: {{user.teacher.coaching_genre}}</h5>
          </li>
        </ul>
        <div class="card-body">
          <a class="card-link white-text btn btn-dark" href="/teacherhome/teacherprofile">View Profile</a>
          <button type="button" id="get-students" class="white-text btn btn-dark">View Class</button>
          <br>
        </div>
      </div>

     

      <div class="col-md-8">
        <div class="row" id="student-card-holder">

        </div>
      </div>
    </div>
  </div>





  {{else}}
  <div class="white-text">
    <h3>Please create your profile to get started!</h3>
    <div class="row">
      <div class="col-3">
        <div class="card bg-primary text-light" style="width: 18rem;">
          <div class="card-body">
            <h4 class="card-text"> {{user.first_name}} {{user.last_name}} </h4>
          </div>
          <img src="../images/empty-profilepic.png" class="card-img-top" alt="profile picture">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-primary">

              <a class="card-link btn btn-light" href="/teacherhome/createteacherprofile">Create My Profile!</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}



<script src="/javascript/audioupload.js"></script>
<script src="/javascript/getmystudents.js"></script>