<h1>
    Hi {{user.first_name}} {{user.last_name}} good to see you today!
</h1>
<section>
  <h2>Your Info</h2>
  


  <ul>
    
    <li>
       Birthday: {{user.teacher.birthday}}
    </li>
    
    <li>
      coaching_genre: {{user.teacher.coaching_genre}}
    </li>
    
    <li>
        coaching_level: {{user.teacher.coaching_level}}
    </li>

  </ul>

</section>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/teacherhome/adduser">Add User</a>
    <a class="navbar-brand" href="/teacherhome/createteacherprofile">Create My Profile</a>
    <a class="navbar-brand" href="/teacherhome/editteacherprofile">Edit My Profile</a>
</nav>