<div class="profile-home p-4">
    <h1 class="white-text">
        Lesson Room
    </h1>
    <div class="row mb-5">
        <div class="col-3">
            <div class="card bg-primary" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-text"> {{student.user.first_name}} {{student.user.last_name}} </h4>
                </div>
                <img src="../files/{{student.profile_pic}}" class="card-img-top" alt="Test image">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-primary">
                        <p id="student-id-detail">Student ID: {{student.id}}</p>
                    </li>
                    <li class="list-group-item bg-primary">
                        <p>Vocal Part: {{student.vocal_part_name}}</p>
                    </li>
                    <li class="list-group-item bg-primary">
                        <p>Primary Style: {{student.vocal_style}}</p>
                    </li>
                    <li class="list-group-item bg-primary">
                        <p>Grade Level: {{student.grade_level}}</p>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-5">
            <iframe
                class="col-12"
                src="https://tokbox.com/embed/embed/ot-embed.js?embedId=8325314b-c95e-494e-a489-185f9c40ba59&room=DEFAULT_ROOM&iframe=true"
                width="500px" height="400px" scrolling="no" allow="microphone; camera" frameborder="0   "> 
            </iframe>
            <form class="comment-form col-12">
                <div>
                    <textarea class="form-control m-auto" rows="5" name="comment-body"></textarea>
                </div>
            
                <div>
            
                    <button type="submit" class="btn btn-primary btn-lg m-3">Add Comment</button>
                    <button type="button" class="btn btn-secondary btn-lg m-3" id="view-comments">View Comments</button>
            
            
                </div>
            </form>
            
        </div>
        <div class="col-4" id="comment-holder">
            {{!-- <div class="card">
                <div class="card-body bg-secondary text-light">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-secondary">
                        <p>Created: Created Date</p>
                        </li>
                        <li class="list-group-item bg-secondary">
                        <p>Teacher: Teacher Name</p>
                        </li>
                        <li class="list-group-item bg-secondary">
                        <p>Comment: a pluribus unum umbrella</p>
                        </li>
                    </ul>
                </div>
            </div> --}}
        </div>

    </div>

</div>

<script src="/javascript/comment.js"></script>